body {
    background-image: url(bgimage4.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  :root{
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
  }
  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 999;
  }
  .navbar .container{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .site-brand{
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.95;
  }
  .site-brand span{
    font-weight: 300;
  }
  
  #navbar-show-btn{
    background: transparent;
    color: #fff;
    font-size: 2rem;
    opacity: 0.9;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    border: none;
  }
  #navbar-show-btn:hover{
    opacity: 1;
  }
  
  /* navbar side menu */
  #navbar-collapse{
    background-color: var(--green);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2rem;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
  }
  .navbar-collapse-rmw{
    /* js related */
    -webkit-transform: translateX(0)!important;
        -ms-transform: translateX(0)!important;
            transform: translateX(0)!important;
  }
  #navbar-close-btn{
    background: none;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0.2rem;
    font-size: 2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    position: absolute;
    right: 1rem;
    top: 2rem;
    border: none;
  }
  #navbar-close-btn:hover{
    background-color: #fff;
    color: var(--green);
  }
  .navbar-nav{
    margin-top: 5rem;
  }
  .nav-item{
    margin: 1.6rem 0;
  }
  .nav-link{
    color: black;
    font-size: large;
      font-weight: bold;
    font-size: 1.2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
  }
  .nav-link:hover{
    color: #fff;
  }
  
  .box {
    width: 500px;
    background: #fafafa;
    border-radius: 12px;
    padding-left: 50px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
  
  }
  
  
  h1 {
    color: rgb(0, 0, 0, 0.);
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
    
  }
  
  .graph-container {
    width: 80%;
    margin: 20px auto;
  }

  .day-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .day-container label {
    flex: 1;
  }
  
  .day-container input {
    flex: 1;
    margin-left: 10px;
  }
  
  .food-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 60%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #searchResults {
    margin-top: 20px;
    text-align: left;
    color: #fff;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#search-container {
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
}

#result-container {
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
}

  